body {
 font-family:sans-serif;
 font-size:20px
 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff7958;
  position: sticky;
  top: 0;
}

li {
  float: left;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px; /* Adjust the size of the bullet */
  background-color: #fcb9a8; /* Updated bullet color */
  margin-right: 5px; /* Space between the bullet and the text */
}

li:hover::before {
  content: none; /* Hide the bullet on hover */
}

li a {
  display: block;
  color: white; /* Text color is white */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 4px solid #ff7958; /* Default bottom border color */
}

li a:hover {
  color: black; /* Change the font color to black on hover */
  border-bottom-color: black; /* Change the bottom border color to black on hover */
}
